{% extends "base.html" %}
{% block title %}Вход{% endblock title %}
{% block header %}Вход{% endblock header %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Войти</button>
</form>

<p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>

<!-- Сообщения об ошибках или успешных действиях -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}