{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}
{% block content %}
<p>Страница {{ pages_read }} из {{ total_pages }}</p>

<form method="POST" action="{% url 'read_book' book_id %}">
    {% csrf_token %}
    <button type="submit" name="action" value="prev" {% if pages_read == 0 %}disabled{% endif %}>Назад</button>
    <button type="submit" name="action" value="next" {% if pages_read == total_pages %}disabled{% endif %}>Вперед</button>
</form>

<p><a href="{% url 'my_readings' %}">Вернуться к моим чтениям</a></p>
{% endblock content %}